@import 'tailwindcss';
@plugin 'daisyui';
@source '../node_modules/flowbite-svelte-icons/dist';
@import '@fontsource-variable/inter/wght.css';

@layer utilities {
	/* Hide scrollbar for the skills carousel */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

body {
	font-family: 'Inter Variable', sans-serif;
	color: white; /* Enforce strict white text */
}
